@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row">
        <div class="column">
            <img src=@ViewBag.first alt="Vote furr me !" style="width:100%" />
        </div>
        <div class="column">
            <img src=@ViewBag.sec alt="Na ! For me :(" style="width:100%" />
        </div>
    </div>

</div>
