@{
    ViewData["Title"] = "CatMash";
}

<div class="text-center">
    <h1 class="display-4">Which one is the cutest ?</h1>

    <div class="row">
        <div class="large-6 column">
            <a href="@Url.Action( "Voted", "Home", new { catIndex = ViewBag.firstIndex } )">
                <img src=@ViewBag.first alt="Vote furr me !" style="height: 500px;width: 500px" />
            </a>
        </div>
        <div class="large-6 column">
            <a href="@Url.Action( "Voted", "Home", new { catIndex = ViewBag.secondIndex }  )">
                <img src=@ViewBag.sec alt="Na ! Furr me :(" style="height:500px; width:500px" />
            </a>
        </div>
    </div>
</div>
